<h2>Parameters</h2><form method="POST" action="saveParameters" name="frm">

<table border="1">
<tr> <th colspan="6">General information:</th><td colspan="2">board_id:</td><td><input type="text" size="4" name="board_id" title="Board ID (one byte per character, e.g. GLIB)" readonly></td>
<td colspan="2">sys_id:</td><td><input type="text" size="4" name="sys_id" title="System ID" readonly></td> <th>Inputs</th></tr>
<tr>
<th colspan="6">System version</th><th colspan="6">date</th><td>0&lt;-Backpressure</td></tr>
<tr>
<td border="0">major:</td><td><input size="3" type="text" name="firm_id.firmware_major" title="System firmware major version number" readonly></td>
<td border="0">minor:</td><td><input size="3" type="text" name="firm_id.firmware_minor" title="System firmware minor version number" readonly></td>
<td border="0">build:</td><td><input size="3" type="text" name="firm_id.firmware_build" title="System firmware build number" readonly></td>
<td border="0">20</td><td border="0"><input size="2" type="text" name="firm_id.firmware_yy" title="Year of firmware last modification" readonly></td>
<td border="0">-</td>
<td border="0"><input size="2" type="text" name="firm_id.firmware_mm" title="Month of firmware last modification" readonly></td>
<td border="0">-</td>
<td border="0"><input size="2" type="text" name="firm_id.firmware_dd" title="Day of firmware last modification" readonly></td>
<td>1&lt;-Acknowledge</td></tr>
<th colspan="4">IPHC version</th><td colspan="2"/><th colspan="6">date</th><td>2-&gt;Clock out</td></tr>
<tr><td border="0">Archi:</td><td><input size="3" type="text" id="archi_nb" name="general.firmware_version.archi_nb" title="Archi version number (incremental)" readonly></td>
<td border="0">FW:</td><td><input size="3" type="text" name="general.firmware_version.fw_nb" title="Firmware version number (incremental)" readonly></td>
<td colspan="2">  </td>

<td border="0">20</td><td border="0"><input size="2" type="text" name="general.firmware_version.year" title="Year of firmware last modification" readonly></td>
<td border="0">-</td>
<td border="0"><input size="2" type="text" name="general.firmware_version.month" title="Month of firmware last modification" readonly></td>
<td border="0">-</td>
<td border="0"><input size="2" type="text" name="general.firmware_version.day" title="Day of firmware last modification" readonly></td><td>3&lt;-Trigger in</td></tr>
<tr>
<th colspan="3">Description code: </th><td><input type="text" size="5" name="general.user_board_id" title="" readonly></td>
<td colspan="2"><input type="text" size="5" name="general.user_sys_id" title="" readonly></td>
<td colspan="6"/><td>4-&gt;Trigger out</td></tr>
</table>
<h3>Counters</h3>
<table border="1">
<tr>
<td style="border-right-style:none">Value</td><td style="border-left-style:none"> 0x<input type="text" size="8" name="general.random" title="random number"></td>
<td style="border-right-style:none">Index</td><td style="border-left-style:none"><input type="text" size="8" name="general.index" title="Index"></td>
<td style="border-right-style:none">Trigger</td><td style="border-left-style:none"><input type="text" size="8" name="general.nb_trigger" title="nb of triggers"></td>
<td style="border-right-style:none">Trigger rate</td><td style="border-left-style:none"><input type="text" size="10" name="tlu.getTriggerRate()" title="trigger rate"></td>
</tr><tr>
<td style="border-right-style:none">Trigger after BP</td><td style="border-left-style:none"><input type="text" size="8" name="general.nb_trigger_after" title="nb of triggers after backpressure"></td>
<td style="border-right-style:none">BackPressure</td><td style="border-left-style:none"><input type="text" size="8" name="general.nb_backpressure" title="nb of backpressure rising edges"></td>
<td style="border-right-style:none">Acknowledge</td><td style="border-left-style:none"><input type="text" size="8" name="general.nb_ack" title="nb of acknowledge"></td>
<td style="border-right-style:none">Acknowledge after BP</td><td style="border-left-style:none"><input type="text" size="8" name="general.nb_ack_after" title="nb of acknowledge after backpressure"></td>
</tr>
</table>
<h3>write</h3>
<div style="border:1px solid">
      
<h3>chk</h3>
<div style="border:1px solid;">
<table border="1">
	
<tr>
<!--td style="border-right-style:none">external_trigger</td><td style="border-left-style:none"><input type="checkbox" name="write.chk.external_trigger" title="External trigger"></td>
<td style="border-right-style:none">external_clock</td><td style="border-left-style:none"><input type="checkbox" name="write.chk.external_clock" title="External clock"></td>
<td style="border-right-style:none">random_trigger</td><td style="border-left-style:none"><input type="checkbox" name="write.chk.random_trigger" title="Random trigger"></td-->
<td style="border-right-style:none">backpressure_50ohms</td><td style="border-left-style:none"><input type="checkbox" name="write.chk.backpressure_50ohms" title="Backpressure input 50 ohms termination"></td>
<td style="border-right-style:none">clock_in_50ohms</td><td style="border-left-style:none"><input type="checkbox" name="write.chk.clock_in_50ohms" title="Clock input 50 ohms termination"></td>
</tr>
	
<tr>
<td style="border-right-style:none">clock_out_50ohms</td><td style="border-left-style:none"><input type="checkbox" name="write.chk.clock_out_50ohms" title="Clock output 50 ohms termination"></td>
<td style="border-right-style:none">trigger_in_50ohms</td><td style="border-left-style:none"><input type="checkbox" name="write.chk.trigger_in_50ohms" title="Trigger input 50 ohms termination"></td>
<td style="border-right-style:none">trigger_out_50ohms</td><td style="border-left-style:none"><input type="checkbox" name="write.chk.trigger_out_50ohms" title="Trigger output 50 ohms termination"></td>
<td style="border-right-style:none" align="center"><input type="submit" value="reset" name="tlu._action_reset()"></td><td style="border-left-style:none"><input type="checkbox" name="write.chk.reset" title="General reset"></td>
</tr>
      
</table>
</div>
      
<h3>threshold</h3>
<div style="border:1px solid;">
<table border="0">
	
<tr>
<td>backpressure</td><td><input type="text" size="8" name="write.threshold.backpressure" title="Backpressure input threshold"></td>
<td style="padding-left: 10px;">trigger</td><td><input type="text" size="8" name="write.threshold.trigger" title="Trigger input threshold"></td>
<td style="padding-left: 10px;">clock</td><td><input type="text" size="8" name="write.threshold.clock" title="Clock input threshold"></td>
</tr>
      
</table>
</div>
<table>
<tr><td>      internal_trigger_freq:</td><td><select name="write.internal_trigger_freq"></select></td>
<td>      trigger_nb:</td><td><input type="text" size="8" name="write.trigger_nb" title="Number of triggers to be issued"></td>
<td >trigger_type:</td><td ><select name="write.trigger_type" title="Trigger type"></select></td>
</tr><tr>
<td>trigger_pulse_duration:</td><td><input type="text" size="8" name="write.trigger_pulse_duration" title=""></td>
<td>     after_backpressure_duration:</td><td><input type="text" size="8" name="write.after_backpressure_duration" title="Duration after backpressure when triggers are still accepted"></td>
<td>Start index:</td><td><input type="text" size="8" name="write.param" title=""></td>
</tr></table>
</div>
<h3>ctrl_sram</h3>
<div style="border:1px solid;">
<table border="0">
		
<tr>
<td>sram1_user_logic</td><td><input type="checkbox" name="ctrl_sram.sram1_user_logic" title="0: the software has access to the SRAM1 bank, 1:firmware"></td>
<td>sram2_user_logic</td><td><input type="checkbox" name="ctrl_sram.sram2_user_logic" title="0: the software has access to the SRAM2 bank, 1:firmware"></td>
<td><input type="submit" value="External trigger data" name="tlu._action_external_trigger_data()"></td>
</tr>
	
</table>
</div>
<input value="Write" type="submit">
</form>
