<h2>Parameters</h2><form method="POST" action="saveParameters" name="frm">board_id: 0x<input type="text" size="8" name="board_id" title="Board ID (one byte per character, e.g. GLIB)"><br>sys_id:<input type="text" size="8" name="sys_id" title="System ID" readonly><br><h3>firm_id</h3>
<div style="border:1px solid;"><table border="0">
		    <tr>
<td>firmware_major</td>
<td><input size="8" type="text" name="firm_id.firmware_major" title="Firmware major version number" readonly></td>
</tr>
		    <tr>
<td>firmware_minor</td>
<td><input size="8" type="text" name="firm_id.firmware_minor" title="Firmware minor version number" readonly></td>
</tr>
		    <tr>
<td>firmware_build</td>
<td><input size="8" type="text" name="firm_id.firmware_build" title="Firmware build number" readonly></td>
</tr>
		    <tr>
<td>firmware_yy</td>
<td><input size="8" type="text" name="firm_id.firmware_yy" title="Year of firmware last modification" readonly></td>
</tr>
		    <tr>
<td>firmware_mm</td>
<td><input size="8" type="text" name="firm_id.firmware_mm" title="Month of firmware last modification" readonly></td>
</tr>
		    <tr>
<td>firmware_dd</td>
<td><input size="8" type="text" name="firm_id.firmware_dd" title="Day of firmware last modification" readonly></td>
</tr>
    </table></div>
<h3>ctrl</h3>
<div style="border:1px solid;"><table border="0">
	<tr>
<td>pcie_clk_fsel</td>
<td><input size="8" type="text" name="ctrl.pcie_clk_fsel" title=""></td>
</tr>
	<tr>
<td>pcie_clk_mr</td>
<td><input size="8" type="text" name="ctrl.pcie_clk_mr" title=""></td>
</tr>
	<tr>
<td>pcie_clk_oe</td>
<td><input size="8" type="text" name="ctrl.pcie_clk_oe" title=""></td>
</tr>
	<tr>
<td>cdce_powerup</td>
<td><input size="8" type="text" name="ctrl.cdce_powerup" title=""></td>
</tr>
	<tr>
<td>cdce_refsel</td>
<td><input size="8" type="text" name="ctrl.cdce_refsel" title=""></td>
</tr>
	<tr>
<td>cdce_sync</td>
<td><input size="8" type="text" name="ctrl.cdce_sync" title=""></td>
</tr>
	<tr>
<td>cdce_ctrl_sel</td>
<td><input size="8" type="text" name="ctrl.cdce_ctrl_sel" title=""></td>
</tr>
	<tr>
<td>tclkb_dr_en</td>
<td><input size="8" type="text" name="ctrl.tclkb_dr_en" title=""></td>
</tr>
	<tr>
<td>xpoint2_s10</td>
<td><input size="8" type="text" name="ctrl.xpoint2_s10" title=""></td>
</tr>
	<tr>
<td>xpoint2_s11</td>
<td><input size="8" type="text" name="ctrl.xpoint2_s11" title=""></td>
</tr>
	<tr>
<td>xpoint1_s10</td>
<td><input size="8" type="text" name="ctrl.xpoint1_s10" title=""></td>
</tr>
	<tr>
<td>xpoint1_s11</td>
<td><input size="8" type="text" name="ctrl.xpoint1_s11" title=""></td>
</tr>
	<tr>
<td>xpoint1_s20</td>
<td><input size="8" type="text" name="ctrl.xpoint1_s20" title=""></td>
</tr>
	<tr>
<td>xpoint1_s21</td>
<td><input size="8" type="text" name="ctrl.xpoint1_s21" title=""></td>
</tr>
	<tr>
<td>xpoint1_s30</td>
<td><input size="8" type="text" name="ctrl.xpoint1_s30" title=""></td>
</tr>
	<tr>
<td>xpoint1_s31</td>
<td><input size="8" type="text" name="ctrl.xpoint1_s31" title=""></td>
</tr>
	<tr>
<td>xpoint1_s40</td>
<td><input size="8" type="text" name="ctrl.xpoint1_s40" title=""></td>
</tr>
	<tr>
<td>xpoint1_s41</td>
<td><input size="8" type="text" name="ctrl.xpoint1_s41" title=""></td>
</tr>
	<tr>
<td>gbt_phase_mon_reset</td>
<td><input size="8" type="text" name="ctrl.gbt_phase_mon_reset" title=""></td>
</tr>
	<tr>
<td>fpga_program_b_trst</td>
<td><input size="8" type="text" name="ctrl.fpga_program_b_trst" title=""></td>
</tr>
    </table></div>
<h3>status</h3>
<div style="border:1px solid;"><table border="0">
		    <tr>
<td>glib_sfp1_mod_abs</td>
<td><input size="8" type="text" name="status.glib_sfp1_mod_abs" title="" readonly></td>
</tr>
		    <tr>
<td>glib_sfp1_rxlos</td>
<td><input size="8" type="text" name="status.glib_sfp1_rxlos" title="" readonly></td>
</tr>
		    <tr>
<td>glib_sfp1_txfault</td>
<td><input size="8" type="text" name="status.glib_sfp1_txfault" title="" readonly></td>
</tr>
		    <tr>
<td>glib_sfp2_mod_abs</td>
<td><input size="8" type="text" name="status.glib_sfp2_mod_abs" title="" readonly></td>
</tr>
		    <tr>
<td>glib_sfp2_rxlos</td>
<td><input size="8" type="text" name="status.glib_sfp2_rxlos" title="" readonly></td>
</tr>
		    <tr>
<td>glib_sfp2_txfault</td>
<td><input size="8" type="text" name="status.glib_sfp2_txfault" title="" readonly></td>
</tr>
		    <tr>
<td>glib_sfp3_mod_abs</td>
<td><input size="8" type="text" name="status.glib_sfp3_mod_abs" title="" readonly></td>
</tr>
		    <tr>
<td>glib_sfp3_rxlos</td>
<td><input size="8" type="text" name="status.glib_sfp3_rxlos" title="" readonly></td>
</tr>
		    <tr>
<td>glib_sfp3_txfault</td>
<td><input size="8" type="text" name="status.glib_sfp3_txfault" title="" readonly></td>
</tr>
		    <tr>
<td>glib_sfp4_mod_abs</td>
<td><input size="8" type="text" name="status.glib_sfp4_mod_abs" title="" readonly></td>
</tr>
		    <tr>
<td>glib_sfp4_rxlos</td>
<td><input size="8" type="text" name="status.glib_sfp4_rxlos" title="" readonly></td>
</tr>
		    <tr>
<td>glib_sfp4_txfault</td>
<td><input size="8" type="text" name="status.glib_sfp4_txfault" title="" readonly></td>
</tr>
		    <tr>
<td>gbe_int</td>
<td><input size="8" type="text" name="status.gbe_int" title="" readonly></td>
</tr>
		    <tr>
<td>fmc1_present</td>
<td><input size="8" type="text" name="status.fmc1_present" title="FMC mezzanine present on 1st connector (J1)" readonly></td>
</tr>
		    <tr>
<td>fmc2_present</td>
<td><input size="8" type="text" name="status.fmc2_present" title="FMC mezzanine present on 2nd connector (J2)" readonly></td>
</tr>
		    <tr>
<td>fpga_reset</td>
<td><input size="8" type="text" name="status.fpga_reset" title="" readonly></td>
</tr>
		    <tr>
<td>v6_cpld</td>
<td><input size="8" type="text" name="status.v6_cpld" title="" readonly></td>
</tr>
		    <tr>
<td>cdce_lock</td>
<td><input size="8" type="text" name="status.cdce_lock" title="" readonly></td>
</tr>
	</table></div>
<h3>ctrl_sram</h3>
<div style="border:1px solid;"><table border="0">
		<tr>
<td>sram1_user_logic</td>
<td><input size="8" type="text" name="ctrl_sram.sram1_user_logic" title="0: the software has access to the SRAM1 bank, 1:firmware"></td>
</tr>
		<tr>
<td>sram1_bist_run</td>
<td><input size="8" type="text" name="ctrl_sram.sram1_bist_run" title=""></td>
</tr>
		<tr>
<td>sram2_user_logic</td>
<td><input size="8" type="text" name="ctrl_sram.sram2_user_logic" title="0: the software has access to the SRAM2 bank, 1:firmware"></td>
</tr>
		<tr>
<td>sram2_bist_run</td>
<td><input size="8" type="text" name="ctrl_sram.sram2_bist_run" title=""></td>
</tr>
		<tr>
<td>flash_select</td>
<td><input size="8" type="text" name="ctrl_sram.flash_select" title=""></td>
</tr>
	</table></div>cbc_i2c_cmd_ack:<input type="text" size="8" name="cbc_i2c_cmd_ack" title="Hand shaking before reading result of I2C request. 0:Wait, 1:OK"><br>cbc_hard_reset:<input type="text" size="8" name="cbc_hard_reset" title="CBC hard reset"><br>cbc_i2c_refresh:<input type="text" size="8" name="cbc_i2c_refresh" title="?"><br>cbc_test_pulse:<input type="text" size="8" name="cbc_test_pulse" title="?"><br>cbc_fast_reset:<input type="text" size="8" name="cbc_fast_reset" title="CBC fast reset (before sending an I2C request)"><br>cbc_i2c_cmd_rq:<input type="text" size="8" name="cbc_i2c_cmd_rq" title="I2C request type. 1:read, 3:write"><br>cbc_stubdata_latency_adjust_fe1:<input type="text" size="8" name="cbc_stubdata_latency_adjust_fe1" title="Number of clock cycles delay between stub emission and data readout for Front End 1"><br>cbc_hard_reset_fe2:<input type="text" size="8" name="cbc_hard_reset_fe2" title="Number of clock cycles delay between stub emission and data readout for Front End 2"><br>cbc_i2c_refresh_fe2:<input type="text" size="8" name="cbc_i2c_refresh_fe2" title="?"><br>cbc_test_pulse_fe2:<input type="text" size="8" name="cbc_test_pulse_fe2" title="?"><br>cbc_fast_reset_fe2:<input type="text" size="8" name="cbc_fast_reset_fe2" title="?"><br>cbc_i2c_cmd_rq_fe2:<input type="text" size="8" name="cbc_i2c_cmd_rq_fe2" title="?"><br>cbc_stubdata_latency_adjust_fe2:<input type="text" size="8" name="cbc_stubdata_latency_adjust_fe2" title="?"><br>FE_expected: 0x<input type="text" size="8" name="FE_expected" title="Front End boards available. One bit per FE. FE 0 is the least significant bit. Old parameter"><br>CBC_expected: 0x<input type="text" size="8" name="CBC_expected" title="CBC chips available on each FE (homogeneous configuration). One bit per CBC. CBC 0 is the least significant bit. Old parameter"><br>break_trigger:<input type="text" size="8" name="break_trigger" title="1: The acquisition is paused, 0: The acquisition is resumed (the events that had not been sent are lost)"><br>COMMISSIONNING_MODE_RQ:<input type="text" size="8" name="COMMISSIONNING_MODE_RQ" title="1:The acquisition commissioning mode is requested"><br>COMMISSIONNING_MODE_DELAY_AFTER_FAST_RESET:<input type="text" size="8" name="COMMISSIONNING_MODE_DELAY_AFTER_FAST_RESET" title="Delay (ms ?) after fast reset in commissioning mode"><br>COMMISSIONNING_MODE_CBC_TEST_PULSE_VALID:<input type="text" size="8" name="COMMISSIONNING_MODE_CBC_TEST_PULSE_VALID" title="Test pulse generated during commissioning mode"><br>COMMISSIONNING_MODE_DELAY_AFTER_TEST_PULSE:<input type="text" size="8" name="COMMISSIONNING_MODE_DELAY_AFTER_TEST_PULSE" title="Delay after test pulse in commissioning mode"><br>COMMISSIONNING_MODE_DELAY_AFTER_L1A:<input type="text" size="8" name="COMMISSIONNING_MODE_DELAY_AFTER_L1A" title="Delay after L1A trigger during commissioning mode"><br><h3>user_wb_ttc_fmc_regs</h3>
<div style="border:1px solid">
    	user_board_id:<input type="text" size="8" name="user_wb_ttc_fmc_regs.user_board_id" title="" readonly><br>
    	user_sys_id:<input type="text" size="8" name="user_wb_ttc_fmc_regs.user_sys_id" title="" readonly><br>
    	user_version:<input type="text" size="8" name="user_wb_ttc_fmc_regs.user_version" title="" readonly><br>
    	<h3>ttc_fmc_reg_ctrl</h3>
<div style="border:1px solid;"><table border="0">
		    <tr>
<td>ttc_fmc_s10</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s10" title="?"></td>
</tr>
		    <tr>
<td>ttc_fmc_s11</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s11" title="?"></td>
</tr>
		    <tr>
<td>ttc_fmc_s20</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s20" title="?"></td>
</tr>
		    <tr>
<td>ttc_fmc_s21</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s21" title="?"></td>
</tr>
		    <tr>
<td>ttc_fmc_s30</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s30" title="?"></td>
</tr>
		    <tr>
<td>ttc_fmc_s31</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s31" title="?"></td>
</tr>
		    <tr>
<td>ttc_fmc_s40</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s40" title="?"></td>
</tr>
		    <tr>
<td>ttc_fmc_s41</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s41" title="?"></td>
</tr>
	</table></div>
		
		i2c_settings:<input type="text" size="8" name="user_wb_ttc_fmc_regs.i2c_settings" title="I2C value zone (GLIB I2C bus requests)"><br>
		i2c_command:<input type="text" size="8" name="user_wb_ttc_fmc_regs.i2c_command" title="I2C command (GLIB I2C bus requests)"><br>
		i2c_reply:<input type="text" size="8" name="user_wb_ttc_fmc_regs.i2c_reply" title="I2C reply zone (GLIB I2C bus requests)"><br>
		<h3>pc_commands</h3>
<div style="border:1px solid;"><table border="0">
		  <tr>
<td>PC_config_ok</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.pc_commands.PC_config_ok" title="1:Acquisition start"></td>
</tr>
		  <tr>
<td>SRAM1_end_readout</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.pc_commands.SRAM1_end_readout" title="1: The software has read the SRAM0 bank, 0: End of hand shaking after SRAM bank reading"></td>
</tr>
		  <tr>
<td>INT_TRIGGER_FREQ</td>
<td><select name="user_wb_ttc_fmc_regs.pc_commands.INT_TRIGGER_FREQ"></select></td>
</tr>
		  <tr>
<td>SRAM2_end_readout</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.pc_commands.SRAM2_end_readout" title="1: The software has read the SRAM1 bank, 0: End of hand shaking after SRAM bank reading"></td>
</tr>
		  <tr>
<td>CBC_DATA_PACKET_NUMBER</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.pc_commands.CBC_DATA_PACKET_NUMBER" title="Data size in packets during acquisition - 1 (0 means one packet)"></td>
</tr>
		  <tr>
<td>TRIGGER_SEL</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.pc_commands.TRIGGER_SEL" title="1: External trigger"></td>
</tr>
		  <tr>
<td>ACQ_MODE</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.pc_commands.ACQ_MODE" title="Deprecated, must be 1"></td>
</tr>
		  <tr>
<td>CBC_DATA_GENE</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.pc_commands.CBC_DATA_GENE" title="if false, data is generated internally (delayed from trigger)"></td>
</tr>
		  <tr>
<td>SPURIOUS_FRAME</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.pc_commands.SPURIOUS_FRAME" title="Request to send a spurious frame ?"></td>
</tr>
		</table></div>
		<h3>flags</h3>
<div style="border:1px solid;"><table border="0">
			<tr>
<td>SRAM1_full</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.flags.SRAM1_full" title="1: SRAM0 bank is full in the board" readonly></td>
</tr>
			<tr>
<td>FSM1_flag</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.flags.FSM1_flag" title="?" readonly></td>
</tr>
			<tr>
<td>SRAM2_full</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.flags.SRAM2_full" title="1: SRAM0 bank is full in the board" readonly></td>
</tr>
			<tr>
<td>FSM2_flag</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.flags.FSM2_flag" title="?" readonly></td>
</tr>
		</table></div>
		<h3>status_flags</h3>
<div style="border:1px solid;"><table border="0">
			<tr>
<td>sTTS_code</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.status_flags.sTTS_code" title="?" readonly></td>
</tr>
			<tr>
<td>fifo1_full</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.status_flags.fifo1_full" title="?" readonly></td>
</tr>
			<tr>
<td>fifo2_full</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.status_flags.fifo2_full" title="?" readonly></td>
</tr>
			<tr>
<td>cdr_clk_locked</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.status_flags.cdr_clk_locked" title="?" readonly></td>
</tr> 
			<tr>
<td>cdr_lol</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.status_flags.cdr_lol" title="?" readonly></td>
</tr> 
			<tr>
<td>cdr_los</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.status_flags.cdr_los" title="?" readonly></td>
</tr> 
			<tr>
<td>FSM_sTTS_ctrl</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.status_flags.FSM_sTTS_ctrl" title="?" readonly></td>
</tr>
			<tr>
<td>spurious_frame</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.status_flags.spurious_frame" title="1: A spurious frame has been sent ?" readonly></td>
</tr>
			<tr>
<td>CMD_START_VALID</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.status_flags.CMD_START_VALID" title="1: Acquisition start validated by firmware" readonly></td>
</tr>
		</table></div>
		<h3>pc_commands2</h3>
<div style="border:1px solid;"><table border="0">
			<tr>
<td>clock_shift</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.pc_commands2.clock_shift" title="Clock signal shifted by 180 degrees"></td>
</tr>
			<tr>
<td>negative_logic_sTTS</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.pc_commands2.negative_logic_sTTS" title="0=Positive logic, 1=Negative logic for sTTS lines polarity"></td>
</tr>
			<tr>
<td>negative_logic_CBC</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.pc_commands2.negative_logic_CBC" title="0=Positive logic, 1=Negative logic for CBC data line polarity"></td>
</tr>
			<tr>
<td>force_BG0_start</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.pc_commands2.force_BG0_start" title="1: Force trigger to begin acquisition"></td>
</tr>
			<tr>
<td>polarity_tlu</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.pc_commands2.polarity_tlu" title="0=Positive polarity"></td>
</tr>
			<tr>
<td>FE0_masked</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.pc_commands2.FE0_masked" title="Front End 0 masked"></td>
</tr>
			<tr>
<td>FE1_masked</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.pc_commands2.FE1_masked" title="Front End 1 masked"></td>
</tr>
		</table></div>
		<h3>SRAM1</h3>
<div style="border:1px solid;"><table border="0">
			<tr>
<td>COUNTER</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.SRAM1.COUNTER" title="?" readonly></td>
</tr>
		</table></div>
		<h3>SRAM2</h3>
<div style="border:1px solid;"><table border="0">
			<tr>
<td>COUNTER</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.SRAM2.COUNTER" title="?" readonly></td>
</tr>
		</table></div>
		<h3>FIFO1</h3>
<div style="border:1px solid;"><table border="0">
			<tr>
<td>COUNTER</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.FIFO1.COUNTER" title="?" readonly></td>
</tr>
		</table></div>
		<h3>FIFO2</h3>
<div style="border:1px solid;"><table border="0">
			<tr>
<td>COUNTER</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.FIFO2.COUNTER" title="?" readonly></td>
</tr>
		</table></div>
		cbc_reg_i2c_settings:<input type="text" size="8" name="user_wb_ttc_fmc_regs.cbc_reg_i2c_settings" title="I2C value zone (CBC I2C bus requests)"><br>
		cbc_reg_i2c_command:<input type="text" size="8" name="user_wb_ttc_fmc_regs.cbc_reg_i2c_command" title="I2C command (CBC I2C bus requests)"><br>
		cbc_reg_i2c_reply:<input type="text" size="8" name="user_wb_ttc_fmc_regs.cbc_reg_i2c_reply" title="I2C reply zone (CBC I2C bus requests)" readonly><br>
		<h3>cbc_acquisition</h3>
<div style="border:1px solid;"><table border="0">
			<tr>
<td>CBC_RESET_SEL</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.cbc_acquisition.CBC_RESET_SEL" title="deprecated"></td>
</tr>
			<tr>
<td>CBC_TRIGGER_MODE</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.cbc_acquisition.CBC_TRIGGER_MODE" title="deprecated"></td>
</tr>
			<tr>
<td>CBC_TRIGGER_ONE_SHOT</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.cbc_acquisition.CBC_TRIGGER_ONE_SHOT" title="deprecated ?"></td>
</tr>
			<tr>
<td>CBC_TRIGGER_FREQ_SEL</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.cbc_acquisition.CBC_TRIGGER_FREQ_SEL" title="deprecated"></td>
</tr>
		</table></div>
                <h3>new</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>nb_FE</td>
<td><select name="user_wb_ttc_fmc_regs.new.nb_FE"></select></td>
</tr>
                        <tr>
<td>hybrid_type</td>
<td><select name="user_wb_ttc_fmc_regs.new.hybrid_type"></select></td>
</tr>
                        <tr>
<td>hybrid_version</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.new.hybrid_version" title="Version number of the hybrid containing CBCs"></td>
</tr>
                        <tr>
<td>carrier_version</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.new.carrier_version" title="Version number of the PCB carrying the hybrid"></td>
</tr>
                        <tr>
<td>mezzanine_version</td>
<td><input size="8" type="text" name="user_wb_ttc_fmc_regs.new.mezzanine_version" title="Version number of the FMC mezzanine connecting to carrier"></td>
</tr>
                </table></div>
                <h3>FE0</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE0.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE1</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE1.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE2</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE2.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE3</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE3.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE4</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE4.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE5</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE5.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE6</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE6.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE7</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE7.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE8</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE8.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE9</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE9.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE10</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE10.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE11</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE11</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE11.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE12</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE12.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE13</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE13.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE14</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE14.enabled" title=""></td>
</tr>
                </table></div>
                <h3>FE15</h3>
<div style="border:1px solid;"><table border="0">
                        <tr>
<td>CBC0</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC0" title=""></td>
</tr>
                        <tr>
<td>CBC1</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC1" title=""></td>
</tr>
                        <tr>
<td>CBC2</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC2" title=""></td>
</tr>
                        <tr>
<td>CBC3</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC3" title=""></td>
</tr>
                        <tr>
<td>CBC4</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC4" title=""></td>
</tr>
                        <tr>
<td>CBC5</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC5" title=""></td>
</tr>
                        <tr>
<td>CBC6</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC6" title=""></td>
</tr>
                        <tr>
<td>CBC7</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC7" title=""></td>
</tr>
                        <tr>
<td>CBC8</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC8" title=""></td>
</tr>
                        <tr>
<td>CBC9</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC9" title=""></td>
</tr>
                        <tr>
<td>CBC10</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC10" title=""></td>
</tr>
                        <tr>
<td>CBC11</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC11" title=""></td>
</tr>
                        <tr>
<td>CBC12</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC12" title=""></td>
</tr>
                        <tr>
<td>CBC13</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC13" title=""></td>
</tr>
                        <tr>
<td>CBC14</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC14" title=""></td>
</tr>
                        <tr>
<td>CBC15</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.CBC15" title=""></td>
</tr>
                        <tr>
<td>enabled</td>
<td><input size="8" type="checkbox" name="user_wb_ttc_fmc_regs.FE15.enabled" title=""></td>
</tr>
                </table></div>
    </div>
<input value="Save" type="submit">
</form>
